<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530625670600-hkg9su1k4f7t045qh8jfpckkbo4h4g41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530625670600-hkg9su1k4f7t045qh8jfpckkbo4h4g41</string>
	<key>API_KEY</key>
	<string>AIzaSyBcB8aAZNA8N3N8sycOwB3cvUUcO_CMOV4</string>
	<key>GCM_SENDER_ID</key>
	<string>530625670600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfaresmedical</string>
	<key>PROJECT_ID</key>
	<string>alfares-medical</string>
	<key>STORAGE_BUCKET</key>
	<string>alfares-medical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530625670600:ios:a192eda3a7c0294b40a4fd</string>
	<key>DATABASE_URL</key>
	<string>https://alfares-medical.firebaseio.com</string>
</dict>
</plist>